@inherits LayoutComponentBase
@using Industriell_Maskinpark_API.Models
@using Industriell_Maskinpark_Blazor.Services
@inject MachineService MachineService
@attribute [StreamRendering]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between">
            <p class="align-middle mb-0">Online Vehicles: @_onlineMachines / @_totalMachines</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    private Machine[]? machines;
    private int _onlineMachines = 0;
    private int _totalMachines = 0;

    protected override async Task OnInitializedAsync()
    {

        List<Machine>? machinesFromApi = await MachineService.GetMachinesAsync();
        if(machinesFromApi != null)
        {
            machines = machinesFromApi.ToArray();
            _totalMachines = machines.Count();
            foreach (Machine machine in machines)
            {
                if (machine.Status)
                {
                    _onlineMachines++;
                }
            }
        }
    }
}