@page "/message/{id}"
@rendermode InteractiveServer
@using Industriell_Maskinpark_API.Models
@using Industriell_Maskinpark_Blazor.Services
@inject MachineService MachineService
@inject NavigationManager NavigationManager
<h1>Message</h1>

<form method="post" @onsubmit="Submit" @formname="message">
    <AntiforgeryToken />

    <label>
        Enter Message
        <InputText @bind-Value="message" class="form-control" />
    </label>
    <button type="submit" class="btn btn-primary">
        Save
    </button>
</form>

@code {
    [Parameter]
    public string? id { get; set; }
    string? message { get; set; }

    private async void Submit()
    {
        if (!string.IsNullOrWhiteSpace(message)){

            Machine machine = await MachineService.GetMachineAsync(id);
            machine.LastMessage = message;
            bool result = await MachineService.UpdateMachine(machine);
            if (result)
            {
                NavigationManager.NavigateTo("machines");
            } else
            {
                // Couldn't Update Machine Message
            }
        }
    }
}
